@media(max-width:1240px){
    .s5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .s5>.right-container{
        padding-left: 14rem !important;
    }
}

.s5{
    display: flex;
    padding-top:1.8rem;
}

.s5>.container{
    /* background-color: yellow; */
    width: 50vw;
    padding-left: 14rem;
}

.s5>.right-container{
    width: 50vw;
    /* background-color: aqua; */
    padding-left: 10.7rem;
}

.s5>.container>div, .right-container>div{
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
}

.s5>.container>div>div, .s5>.right-container>div>div{
    margin-left: 1.8rem;
}
.s5 span:first-child, #cross-text{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.s5 span:last-child{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #929393;
}

.angle-down{
    transform: scale(2.5);
}

.angle-hidden{
    visibility: hidden;
}