.s9{
    background-color: #E4C2B1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0rem;
}

.s9 a{
    transition-property: position;
}

.s9 a:hover{
    position: relative;
    top: -3px;
}
.s9>h4{
    margin-bottom: 3.2rem;
    font-family: var(--gill);
    font-size: 6.5rem;
    text-align: center;
}

.s9>p{
    font-size: 3.2rem;
    font-weight: 500;
}